/* styles.css */

.button {
  color: #fff;
  text-decoration: none;
  background-color: #ec8941;
  padding: 10px;
  border-radius: 5px;
}

.button:hover {
  background-color: #ec884194;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

header {
  background: #333;
  color: #fff;
  padding: 2em;
  text-align: left;
}

.container {
  padding: 5em;
  padding-top: 15px;
  background-color: #cccccc99;
}

h2,
h3 {
  padding: 5px 10px;
}

.navbar {
  list-style-type: none;
  padding: 0;
  padding-top: 0;
  margin: 0;
  text-align: center;
  display: flex;
}

.navbar li {
  flex: 1;
  padding-block: 1px;
}

.navbar li a {
  display: block;
  color: #fff;
  text-decoration: none;
  background-color: #333;
  padding: 7px;
}

.navbar li a.active {
  background-color: #ec8941;
}

.navbar li a:hover {
  background-color: #ec884194;
}

.profile-info {
  display: flex;
  padding: 20px;
  align-items: center;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 30px;
}

.contact-info p {
  margin: 5px 0;
}

.section {
  margin-bottom: 50px;
  padding: 5px 20px;
  background-color: #fff;
}

.section-header {
  color: #fff;
  background-color: #333;
  margin-bottom: -20px;
  position: relative;
}

.video-section {
  display: block;
  margin-bottom: 50px;
  padding: 20px;
  align-items: center;
  background-color: #fff;
}

.text-content {
  flex: 1;
  padding-right: 20px;
}

.video-content {
  flex: 1;
  position: relative;
  overflow: hidden;
}

.video-content iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
}

ul.multi-column-list {
  columns: 4;
}

/* Media query for smartphones */
@media only screen and (max-width: 458px) {
  header {
    text-align: center;
    padding: 0.5em;
  }

  .container {
    padding: 1em;
  }

  .navbar {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1em;
    column-gap: 1em;
    justify-content: space-around;
    padding: 1em;
    padding-bottom: 0px;
    background-color: #cccccc99;
  }

  .navbar li a {
    border-radius: 5px;
  }

  .profile-image {
    margin: 0 auto;
  }

  .profile-info {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .section,
  .video-section {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  .section-header {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-top: -10px;
  }

  .text-content {
    padding-right: 0;
    margin-bottom: 20px;
  }

  .video-content iframe {
    border-radius: 5px;
  }

  ul.multi-column-list {
    columns: 2;
  }
}

/* Media query for tablets */
@media only screen and (min-width: 459px) and (max-width: 1024px) {
  .container {
    padding-left: 50px;
    padding-right: 50px;
  }

  ul.multi-column-list {
    columns: 3;
  }
}

/* Media query for wide displays */
@media only screen and (min-width: 1025px) {
  .navbar li {
    width: 100%;
  }

  .video-section {
    margin-top: 30px;
    align-items: flex-start;
  }

  .text-content {
    flex: 1;
    padding-right: 20px;
  }

  .video-content {
    max-width: 550px;
    margin: 0 auto;
  }
}
